@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://unpkg.com/purecss@2.0.3/build/pure-min.css');
@import 'variables', 'layout';

/* MAIN PAGES */


main.main-home {
  .breakout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5px;
    @include tablet {
      padding: 50px $padding-sides-tablet;
    }
    background: $color-main;
    text-align: center;

    h3 {
      color: white;
      margin-bottom: 10px;
    }

    form {
      display: flex;
      flex-direction: row;
      width: 80%;
      max-width: 600px;

      input[type="text"] {
        border-radius: $border-radius 0 0 $border-radius;
        border: 0;
        padding: 10px 15px;
        text-align: left;
        flex-grow: 5;
      }

      input[type="submit"] {
        width: auto;
        flex-grow: 1;
        padding: 10px 5px;
        text-align: center;
        border: 0;
        color: $color-main;
        font-size: 1.3rem;
        border-radius: 0 $border-radius $border-radius 0;
        cursor: pointer;
        font-weight: 800;
      }
    }
  }

  .how-we-work {
    padding: 30px $padding-sides-mobile;
    @include tablet {
      padding: 30px $padding-sides-tablet;
    }
    text-align: center;

    h3 {
      margin-bottom: 10px;
    }

    .sections {
      display: flex;
      flex-direction: column;
      @include tablet {
        flex-direction: row;
      }

      section {

        img {
          height: 100px;
          margin-bottom: 10px;
          @include tablet {
            height: 150px;
            transition: 0.2s transform;
            &:hover {
              transform: scale(1.1) rotate(5deg);
            }
          }
        }

        margin: 20px 10px;

        h5 {
          color: $color-neutral;
        }

      }
    }

  }
}

main.main-login {
  text-align:center;
  padding:$padding-sides-tablet;
  .login-form{
    margin:30px auto;
    border:$color-neutral-light 3px solid;
    border-radius:$border-radius;
    max-width:400px;
    padding:10px;
    .form-group{
      display:flex;
      flex-direction: column;
      padding:10px 0;
      input{
        border-radius: $border-radius;
        border: 1px solid $color-neutral-light;
        padding:10px 15px;
      }

    }
    .login-button{
      background:$color-main;
      color:white;
      border:0;
      cursor:pointer;
      font-weight:900;
    }
  }
}

main.main-listing {
  text-align: center;
  padding: $padding-sides-mobile;
  @include tablet {
    padding: 20px $padding-sides-tablet;
  }

  h6 {
    color: $color-neutral-light;
  }

  .pure-g{
    margin-top:40px;
  }

  .restaurants {
    width:95%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    @include tablet{
      grid-template-columns: 1fr 1fr;
    }

    section.restaurant {
      padding: 0;
      border: 1px $color-neutral-light solid;
      border-radius: $border-radius;

      img {
        width: 100%;
        border-radius: $border-radius $border-radius 0 0;
        @include tablet {
          filter: grayscale(50%);
          &:hover{
            filter:grayscale(0);
          }
        }
        transition: 0.2s filter;
      }

      .content {
        padding: $padding-sides-mobile;

        h4 {
          font-weight: 700;
        }

        p {
          color: $color-neutral-light;
        }
      }

    }
  }
}

main.main-single{
  padding:$padding-sides-tablet;
  text-align:center;
  h2{
    margin:10px;
    font-weight:800;
  }
  .restaurant-content{
    margin-top:30px;
    text-align:left;
    .menu-section{
      margin-bottom:40px;
    }
    .menu{
      margin-top:10px;
      margin-right:20px;
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      .menu-item{
        border:1px $color-neutral-light solid;
        border-radius: $border-radius;
        padding:10px;
        display:flex;
        justify-content: space-between;
        align-items:flex-start;
        img{
          border-radius: $border-radius;
        }
      }
    }

  }
}

main.main-checkout,
main.main-payment{
  padding: $padding-sides-tablet;
  h5{
    color: $color-neutral;
  }
  .checkout-content{
    margin:20px 0;
  }
  form{
    margin-right:30px;
    margin-top:20px;
    h4{
      margin-bottom:20px;
    }
    .form-customer,
    .form-address{
      margin-bottom:40px;
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-gap:20px;
    }
    .form-field{
      display:flex;
      flex-direction: column;
      input,select{
        padding:10px 15px;
        border-radius: $border-radius;
        border: 1px solid $color-neutral-light;
      }
    }
    .dbe-button{
      background-color:$color-main;
      border:0;
      padding:10px 15px;
      color:white;
      font-weight:800;
      border-radius: $border-radius;
      margin-top:30px;
      cursor:pointer;
    }
  }
  .form-payment{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width:60%;
    margin-bottom:40px;
    .payment-card{
      display:grid;
      grid-template-columns: 1fr;
      grid-gap:20px;
    }
  }
}


main.main-status{
  padding: $padding-sides-tablet;
  text-align:center;
  h6{
    color:$color-neutral-light;
  }
  h1{
    margin:20px 0;
    font-weight:900;
    font-size:4rem;
  }
  h3{
    color:$color-neutral;
    margin-top:30px;
  }
  .order{
    border: 1px solid $color-neutral-light;
    width:50%;
    min-width:500px;
    margin:0 auto;
    border-radius: $border-radius;
    padding:20px;
    .order-contents{
      margin-top:30px;
      .row{
        display:flex;
        justify-content: space-between;
        p{
          color:$color-neutral;
          font-size: 1rem;
        }
      }
    }
    .totals{
      margin-top:20px;
      .row{
        display: flex;
        justify-content: flex-end;
        p{
          color:$color-neutral;
          font-size:1rem;
          margin-left:5px;
        }
      }
      margin-bottom:30px;
    }
    .order-details{
      margin-top:10px;
      display:grid;
      grid-template-columns: 1fr 1fr;
      text-align:left;
    }
  }
}

main.main-account{
  padding:$padding-sides-tablet;
  .past-orders-group{
    padding-top:15px;
  }
  .account-content{
    margin-top:20px;
    display:grid;
    grid-template-columns: 5fr 2fr;
    grid-gap:50px;
    .past-orders{
      .past-order{
        border:1px solid $color-neutral-light;
        border-radius: $border-radius;
        padding:10px 15px;
        margin-right:40px;
        margin-bottom:10px;
        display:flex;
        justify-content: space-between;
        p{
          color:$color-neutral;
          font-size: 1.2rem;
        }
      }
    }
    .account-details{
      .customer-details,
      .delivery-details{
        margin-bottom:20px;
        p{
          font-size:1rem;
        }
      }
      .edit-details{
        margin-top:10px;
      }
      form{
        .form-group{
          margin:10px 0;
          display:flex;
          flex-direction: column;
          input{
            border: 1px $color-neutral-light solid;
            padding:5px 10px;
            border-radius: $border-radius;
          }
        }
        .submit{
          padding:10px 15px;
          background-color: $color-main;
          border-radius: $border-radius;
          border:0;
          color:white;
        }
      }
    }
  }
}

main.main-admin{
  padding:$padding-sides-tablet;
  li{
    margin-left:10px;
  }
  table{
    margin-top:20px;
  }
  .single-order{
    display:grid;
    grid-template-columns: 5fr 2fr;
    grid-gap:50px;

    .order-details{
      .header{
        display:flex;
        align-items: center;
        h3{
          margin-right:auto;
        }
        select{
          padding:8px;
          border-radius: $border-radius;
        }
        .edit{
          border: 1px solid $color-neutral;
          color: $color-neutral;
          margin-left:10px;
          padding:10px;
          border-radius: $border-radius;
          cursor:pointer;
        }
        .cancel{
          border: 1px solid $color-warning;
          color: $color-warning;
          margin-left:10px;
          padding:10px;
          border-radius: $border-radius;
          cursor:pointer;
        }
      }
      h4{
        color: $color-neutral;
        margin:5px 0;
      }
      .dbe-order-statuses{
        margin-top:20px;
        display:flex;
        h6{
          display:inline-block;
          color:white;
          background: $color-main;
          padding:15px 20px;
          border-radius: $border-radius;
          margin-right:5px;
          font-size:1.3rem;
        }
      }
      .order-listing{
        margin-top:30px;
        .order-item-listing{
          display:flex;
          justify-content: space-between;
          padding-bottom:10px;
        }
      }
      .totals{
        margin-top:20px;
        text-align:right;
        .subtotal,.delivery,.total{
          h5,h6 {
            color: $color-neutral;
            margin-bottom: 5px;
            margin-left:10px;
          }
          display:flex;
          justify-content: flex-end;
        }
      }
    }

    .customer-details{
      h5{
        margin-bottom:5px;
      }
      .customer-details{
        margin-bottom:20px;
      }
    }
  }
}

main.main-admin-stats{
  padding:$padding-sides-tablet;
  .header{
    display:flex;
    justify-content: space-between;
  }
  form{
    select{
      padding:10px;
      border-radius: $border-radius;
    }
  }
  .statistics-container{
    margin-top:30px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
    .stat{
      padding:10px;
      svg{
        border:1px solid $color-neutral-light;
        width:100%;
        margin-top:10px;
        height:250px;
      }
    }
  }
}

/* SHARED ELEMENTS */
.basket{
  border: $color-neutral-light 1px solid;
  text-align:center;
  border-radius: $border-radius;
  padding:10px;

  .basketIsEmpty{
    padding: 10px 0;
  }
  .cart-contents{
    text-align:left;
    margin:10px 0;
    h5{
      color:black;
      margin-top:20px;
    }
    h6{
      color:$color-neutral;
    }
    .cart-item-listing{
      margin:10px 0;
      display:flex;
      justify-content: space-between;
      .item-price{
        text-align:right;
        margin-left:10px;
      }
      a{
        color:$color-neutral-light;
        cursor:pointer;
      }
    }
  }

  .checkout-button{
    background:$color-main;
    color:white;
    font-weight:800;
    font-size:1.3rem;
    padding:10px;
    margin-top:20px;
    border-radius: $border-radius;
  }

  .totals{
    margin-top:25px;
    h6{
      color:$color-neutral;
    }
    .subtotal,
    .delivery,
    .total{
      display:flex;
      margin-top:5px;
      justify-content: space-between;
    }
  }
}

.warning{
  display:none;
  background:$color-warning;
  border-radius: $border-radius;
  padding:15px 10px;
  p{
    color:white;
  }
}

.error{
  margin:10px 0;
  border:$color-warning 3px solid;
  background:lighten($color-warning, 10%);
  padding:10px 15px;
  p{
    color:white;
  }
}

.notifications{
  background:none;
  position:fixed;
  left:10px;
  bottom:10px;
  padding:20px;
  .notification{
    display:none;
    width:300px;
    background:white;
    padding:20px;
    border: 3px solid $color-main;
    h5{
      color:$color-neutral;
    }
  }
  .notification-icon{
    margin-top:15px;
    width:65px;
    cursor:pointer;
    transition: transform 0.1s;
    &:hover{
      transform:scale(1.1);
    }
  }
}